<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span style="border: 5px dashed red; font-weight: bold; font-size: 50px;">FÉ, GRATIDÃO E FORÇA</span>
    <P style="border: 5px dashed red; font-weight: bold; font-size: 50px;">MUDA</P>
    <span style="border: 5px dashed red; font-weight: bold; font-size: 50px;">FAMÍLIA</span>
    <img src="/media/imagens/11834815.jpg" alt="">
</body>
</html>