<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Site{% endblock %}</title>
    <!-- Bootstrap CSS via CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Seu CSS adicional, se houver -->
</head>


<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand fs-1" href="{% url 'carro_list' %}">Jean Carros</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'carro_list' %}">Carros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'carro_create' %}">Adicionar Carro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'carro_create' %}">Excluir Carro</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        <!-- O conteúdo das páginas será inserido aqui -->
        {% endblock %}
    </div>
    <!-- Rodapé -->
    <footer class="bg-light py-4 mt-4" style="color:red; font-size:20px;">
        <div class="container text-center">
            <p class="mb-0">© 2024 Jean Carros. Todos os direitos reservados.</p>
            <p><a href="{% url 'carro_list' %}" class="text-secondary">Voltar para a lista de carros</a></p>
        </div>
    </footer>
    <!-- Bootstrap JS, Popper.js, e jQuery via CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

<!--style="background-color:red"
style="text-decoration:underline
<div class="text-bg-primary p-3">Primary with contrasting color</div>
<div class="text-bg-secondary p-3">Secondary with contrasting color</div>
<div class="text-bg-success p-3">Success with contrasting color</div>
<div class="text-bg-danger p-3">Danger with contrasting color</div>
<div class="text-bg-warning p-3">Warning with contrasting color</div>
<div class="text-bg-info p-3">Info with contrasting color</div>
<div class="text-bg-light p-3">Light with contrasting color</div>
<div class="text-bg-dark p-3">Dark with contrasting color</div>
-->

