body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center; 
    
}


.muda {
    background-color: aqua;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
}

.muda:hover{
    background-color: red;
    cursor: pointer;
}

.footer {
    border-radius: 20px;
}

.clique{

    background-color: aqua;
    margin: 10px;
    border: none;
    color: gray;
    font-size: 25px;
    border-radius: 25px;
    
}

.clique:hover{
    cursor: move;
    background-color: burlywood;
}

