<!-- Listagem de Itens (item_list.html) -->
{% extends 'base1.html' %}
{% block content %}

    <div class="row">
        <div class="col-md-12 p-5 text-center">
            <h1>EXEMPLO DE CRUD NA FORMA NATIVA DO DJANGO</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h2>Lista de Itens</h2>
        </div>
        <div class="col-md-2">
            <a class="nav-link" href="{% url 'item-create' %}">
                <button class="btn btn-md btn-success">
                    Criar Novo Item
                </button>
            </a>
        </div>
    </div>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
        <tr>
            <td>
                <a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'item-detail' item.pk %}">{{item.nome}}</a>
            </td>
            <td>
                <ul class="nav">
                    <li style="padding-right:1%">
                        <a href="{% url 'item-edit'  item.pk %}">
                            <button class="btn btn-sm btn-primary">Editar</button>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'item-delete'  item.pk %}">
                            <button class="btn btn-sm btn-danger">Excluir</button>
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
 
{% endblock %}
