#cabecalho{
    height: 150px;
    background-color: orange;
}



#menu{
    height: 150px;
    background-color: greenyellow;
}

#principal{
    height: 150px;
    background-color:
}

#menu{
    height: 150px;
    background-color: greenyellow;
}
