<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

        <a href="{%url "pg_formulario" %}">
            <button>+ Concurso</button>
        </a>

        <h2>Lista de Concursos</h2>

        {% for x in concursos %}

            <div style="border: 1px solid black;"></div>

                <h1>{{ x.titulo }}</h1>

                <img src="{{ x.capa_concurso.url }}" alt="" width="200" height="auto">

                <a href="{{ x.doc_edital.url }}" target="_blank">
                    <p>Baixar Edital</p>
                </a>

                <p>{{x.salario}}</p>
            </div>    
        {% endfor %}
    </body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Formulario</title>
</head>

<body>

    <a href="{% url "pg_index" %}">

        <button>Voltar</button>
    </a>

    <h2>Criar Concurso</h2>

    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}

        {{ Formulario.as_p }}

        <button type="submit">Salvar</button>

        <a href="{% url "pg_index" %}">

            <button type="button">Cancelar</button>
        </a>
    </form>
</body>
</html>