.lista-card{
    display: flex;
    flex-wrap: wrap;
    row-gap:10px ;
    column-gap: 10px;

}

.card{
    border: 1px solid red;
    width: fit-content;
    padding: 0px 10px 10px 10px;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.lista-card .card h3{
    margin-top: 0px;
}

