.lista-card{
    display: flex;
    flex-wrap: wrap;
    row-gap: 14px;
    column-gap: 14px;

}

.card{
    border: 1px solid red;
    width: fit-content;
    padding: 0px 10px 10px 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.lista-card .card h3{
    margin-top: 0px;
    
}

.lista1-card{

    background-color: aqua;
    text-align: center;
    padding: 2px;
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    flex-wrap: wrap;

}

div{
    padding: 20px;
    
}
body{
    background-color:gray;
}


