.lista-card{
    display: flex;
    /*border: 2px dashed blue;*/
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin: 10px;
}

.card{
    border: 1px solid red;
    width: fit-content;
    display: flex; 
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 4px 4pxgold;
}

/*body{
    background-color: gray;
}*/

.valorCom{
    color: green;
    font-size: 20px;
    font-weight: bold;
}

.valorSem{
    color: red;
    font-size: 15px;
    text-decoration: line-through;  
} 

/*.frame-div{
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}*/

.dive-head{
    display: flex;
    flex-direction: row;
    color: brown;
    column-gap: 10px;
    border: 2px solid blue;
    background-color: aqua;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    border-radius: 10px;
    text-shadow: 2PX 2PX 4px;
    font-size: 30PX;
    
}

.detalhes-corpo{
    border: 2px solid rgb(47, 0, 255);
    width: fit-content;
    border-radius:2px solid rgb(255, 27, 27);
}

.color{
    display: flex;
    color: red;
    flex-direction: column;
}

a{
    text-decoration: none;
}


