header {
    background-color: gray;
    color: #fff;
    padding: 20px;
    text-align: center;  
    border-radius: 10px;
}



.logo {
    font-size: 24px;
    font-weight: bold;
}
/* Estilos para o menu de navegação */
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
h1{
    color: blue;
    text-shadow: 2px 2px 2px rgb(231, 78, 86);  
}

p{
    width: fit-content;
    
}

.card{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    width: fit-content;
    align-items: center;
    border-radius: 10px;
    color: blue;
    
}

.lista-card{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin: 5px;
}

.people{
    color:blue ;
    font-family: sans-serif ;
    text-align: justify;
    width: fit-content;
}

footer {
    background-color: #333; /* Cor de fundo do footer */
    color: #fff; /* Cor do texto do footer */
    padding: 20px; /* Espaçamento interno do footer */
    text-align: center; /* Alinhamento do texto no centro */
    /*position: fixed;*/ /* Posicionamento fixo na parte inferior */
    width: 100%; /* Largura total */
    bottom: 0; /* Alinhar ao rodapé */  
}

button{
    background-color: brown;
}

.pesquisa{
    color: blue;
}

a{
    width: fit-content;
}

body{
    background-color: lightgoldenrodyellow;
}




  